.ignore/
.private/
.secure/
.local/
.polskie/
.example/
.cache/
.symlinks/
.env.local/
.output/
.tests/
.shared/
.tmp/
.temp/

/vendor/
node_modules/
submodules/

*.log
*.tmp
*.bak

*.ignore
*.private
*.secure
*.local
# *.env

# .env
.cache

