.ignore/
.private/
.secure/
.local/
.polskie/
.example/
.cache/
.symlinks/
.env/
.output/
.tests/

/vendor/
node_modules/
submodules/

*.log
*.tmp
*.bak

*.ignore
*.private
*.secure
*.local
*.env

.env
.cache

