Requirements

- fzf - used for searching, most tools in this repo use this
- jq - used for processing json files and data
- yq - for yaml?
- bc (Basic Calculator), used in timers and loading indicators
  - command: sudo apt-get install bc
